# syntax=docker/dockerfile:1

**/.git
**/.github
**/.vs
**/.vscode
**/.idea

**/bin
**/obj
**/node_modules
**/dist
**/coverage

**/.env
**/.env.*
!.env.example

**/*.*proj.user
**/*.dbmdl
**/*.jfm

logs/
Screenshots/
README.md
LICENSE
