# Copy to .env and fill with your real values
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_Kestrel__Certificates__Default__Password=
ASPNETCORE_Kestrel__Certificates__Default__Path=/https/localhost.pfx

SA_PASSWORD=
REDIS_PASSWORD=
GF_SECURITY_ADMIN_PASSWORD=

ConnectionStrings__DefaultDockerDbConnection=Server=sql_server2022,1433;Database=FashionClothesAndTrendsDB;User Id=sa;Password=;MultipleActiveResultSets=true;TrustServerCertificate=True
ConnectionStrings__Redis=redis:6379,password=,abortConnect=false

Token__Key=
Token__Issuer=https://localhost:5001
Token__Audience=https://localhost:5001

CloudinarySettings__CloudName=
CloudinarySettings__ApiKey=
CloudinarySettings__ApiSecret=

StripeSettings__PublishableKey=
StripeSettings__SecretKey=
StripeSettings__WhSecret=
