* text=auto eol=lf

*.sln text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.cs text diff=csharp
*.csproj text
*.props text
*.targets text
*.json text
*.yml text
*.yaml text
*.md text

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.pfx binary
*.snk binary
