<div class="container" style="color: #ffffff">
  <mat-horizontal-stepper [linear]="linearModeSelected" #stepper>
    <mat-step *ngFor="let step of steps; let i = index">
      <ng-template matStepLabel>{{step.label}}</ng-template>
      <div *ngIf="selected">
        <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
      </div>
      <div>
        <button mat-button matStepperPrevious *ngIf="i > 0">Back</button>
        <button mat-button matStepperNext *ngIf="i < steps.length - 1">Next</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
