.card 
  color: #9f7aea
  background-color: #3a3a3a


.image :hover 
  opacity: 1
  & button 
    transform: none
    opacity: 1
    
.product-card
  height: 100%
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)

.product-image
  position: relative
  cursor: pointer

.product-img
  height: 320px
  width: 480px
  border: 1px solid black

.cart-button
  background-color: #9f7aea
  color: #212121

.view-button
  background-color: #9f7aea
  color: #212121

.product-name
  color: #ffffff

.product-price
  color: #ffffff
