.image :hover
  opacity: 1

  & button
    transform: none
    opacity: 1

.product-card
  height: 100%
  background-color: #222
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
  border-radius: 15px

.product-image
  position: relative
  cursor: pointer

.product-img
  margin-left: auto
  margin-right: auto
  height: 320px
  width: 320px
  border: 1px solid black

.cart-button
  margin-right: 10px
  background-color: #ffffff
  color: #222

.view-button
  margin-right: 10px
  background-color: #ffffff
  color: #222

.product-name
  color: #ffffff

.product-price
  color: #ffffff
