mat-toolbar
  background-color: #222
  font-family: 'Baskerville', 'Baskerville Old Face', 'Hoefler Text', 'Garamond', serif
  
mat-toolbar-row
  display: flex
  justify-content: space-between
  align-items: center

.logo
  max-height: 60px

button
  margin-right: 10px

  &:hover
    background-color: #222
    color: white

  &.active
    border-bottom: 2px solid white

.flex-spacer
  flex-grow: 1

div
  display: flex
  justify-content: flex-end

  button
    margin-left: 10px

.right-align
  margin-left: auto

div:last-child
  margin-left: auto

mat-menu
  background-color: #222
  color: white

  .container-fluid
    display: flex
    justify-content: space-between
    align-items: center

    .logo
      max-height: 60px

    button
      margin-right: 10px

      &:hover
        background-color: #222
        color: white

      &.active
        border-bottom: 2px solid white

    .flex-spacer
      flex-grow: 1

    div
      display: flex
      justify-content: flex-end

      button
        margin-left: 10px

    .right-align
      margin-left: auto

    div:last-child
      margin-left: auto

    mat-menu
      background-color: #222
      color: white

.white-icon
  color: white
