<div class="vh-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <mat-card>
          <mat-card-content>
            <h2>Select Clothing Item</h2>
            <table class="table">
              <thead>
              <tr>
                <th>Name</th>
                <th>Brand</th>
                <th>Picture</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of clothingItems" (click)="selectClothingItem(item)" [class.selected]="item === selectedClothingItem">
                <td>{{item.name}}</td>
                <td>{{item.brand}}</td>
                <td>
                  <mat-icon *ngIf="item.pictureUrl">check_circle</mat-icon>
                </td>
                <td>
                  <button mat-button color="primary" (click)="selectClothingItem(item)">Select</button>
                </td>
              </tr>
              </tbody>
            </table>

            <div *ngIf="selectedClothingItem">
              <h2>Add Photo to {{selectedClothingItem.name}}</h2>
              <input type="file" ng2FileSelect [uploader]="uploader" />
              <div ng2FileDrop [uploader]="uploader" (fileOver)="fileOverBase($event)" [ngClass]="{'nv-file-over': hasBaseDropZoneOver}">
                Drop files here
              </div>
              <button mat-raised-button color="primary" (click)="uploader.uploadAll()">Upload</button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
