<div class="container mt-5">
  <h2>Your Favorites</h2>
  <div *ngIf="favoriteItems.length === 0">
    <p>You have no favorite items.</p>
  </div>
  <div *ngIf="favoriteItems.length > 0">
    <div class="row">
      <div class="col-md-4" *ngFor="let item of favoriteItems">
        <mat-card class="mb-4">
          <img mat-card-image [src]="item.clothingItem.pictureUrl" alt="{{ item.clothingItem.name }}">
          <mat-card-content>
            <h5 mat-card-title>{{ item.clothingItem.name }}</h5>
            <p mat-card-subtitle>{{ item.clothingItem.description }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="warn" (click)="removeFavorite(item.clothingItemId)">Remove</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>