<div class="container">
  <div class="row" *ngIf="product">
    <div class="col-6">
      <mat-card>
        <img mat-card-image [src]="product.pictureUrl" alt="{{product.name}}" class="w-50" style="border: 2px solid black;">
      </mat-card>

      Average: {{averageRating ? (averageRating | number: '1.1-1') : 'N/A'}} | Your vote:
      <app-rating [selectedRate]="userRating ? userRating : 0" (onRating)="onRating($event)"></app-rating>
    </div>

    <mat-card class="mt-5 fixed-size-card">
      <mat-card-content>
        <h4>Description</h4>
        <p>{{product.description}}</p>
      </mat-card-content>
    </mat-card>

    <div class="col-6 mt-5" style="color: #222;">
      <h2>{{product.name}}</h2>
      <p style="font-size: 2em;">{{product.price | currency}}</p>
      <h5 class="text mb-3" style="color: #222" *ngIf="quantityInBasket > 0">
        You have {{quantityInBasket}} of this item in your basket
      </h5>
    </div>

    <div class="d-flex justify-content-start align-items-center mt-5">
      <button mat-icon-button (click)="decrementQuantity()" [disabled]="quantity <= 1">
        <mat-icon>remove_circle</mat-icon>
      </button>
      <span class="font-weight-bold mx-2" style="font-size: 1.5em; color: #222">
        {{quantity}}
      </span>
      <button mat-icon-button (click)="incrementQuantity()">
        <mat-icon>add_circle</mat-icon>
      </button>
      <button
        mat-raised-button
        color="primary"
        class="ms-4"
        (click)="updateBasket()"
        [disabled]="quantity === quantityInBasket"
      >{{buttonText}}</button>
    </div>
  </div>

  <div class="row mt-5 comments-section">
    <form (ngSubmit)="addComment()" [formGroup]="commentForm">
      <mat-card class="mt-5 fixed-size-card" style="color: #ffffff;">
        <mat-card-content>
        <mat-label>ADD YOUR COMMENT:</mat-label>
        <mat-form-field>
          <textarea matInput rows="6" name="text" required  formControlName="text" maxlength="800"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Add</button>
        </mat-card-content>
      </mat-card>
    </form>
  </div>

  <div class="row mt-5 comments-section">
    <mat-accordion class="accordion" multi="true" *ngIf="comments.length > 0">
      <mat-expansion-panel *ngFor="let comment of comments">
        <mat-action-row>
          <button (click)="removeComment(comment.id)" mat-button color="primary">DELETE</button>
          <button (click)="likeComment(comment.id)" mat-button color="primary">
            <mat-icon>thumb_up</mat-icon> {{ comment.likesCount }}
          </button>
          <button (click)="dislikeComment(comment.id)" mat-button color="primary">
            <mat-icon>thumb_down</mat-icon> {{ comment.dislikesCount }}
          </button>
        </mat-action-row>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p>{{ comment.username }}</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
          <p>{{ comment.text }}</p>
        </mat-panel-description>
      </mat-expansion-panel>
    </mat-accordion>
    <h3 class="info-text mat-body-3" *ngIf="comments.length <= 0">NO COMMENTS...</h3>
  </div>
</div>
